body {
    background-color: #fdf5e6;
    color: #333;
    font-family: 'Georgia', serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-box {
    background-color: #fff;
    border-left: 4px solid #4b3b1a;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Georgia', serif;
}

.info-box h3 {
    color: #4b3b1a;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.info-box p {
    color: #4b3b1a;
    font-size: 1.1em;
    line-height: 1.6;
    text-align: justify;
}

.info-box a {
    color: #4b3b1a;
    text-decoration: none;
    border: 1px solid #4b3b1a;
    padding-left: 4px;
    padding-right: 4px;
}

.info-box a:hover {
    background-color: #4b3b1a;
    color: #fdf5e6;
}

.toc-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 20px;
    background-color: #fdf5e6;
    border: 1px solid #4b3b1a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Georgia', serif;
    height: 768px;
    overflow-y: scroll;
}

.toc-menu h2 {
    color: #4b3b1a;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.toc-menu h3 {
    color: #4b3b1a;
    font-size: 1em;
    margin-bottom: 10px;
}

.toc-menu ul {
    list-style-type: none;
    padding: 0;
}

.toc-menu ul li {
    margin: 10px 0;
}

.toc-menu ul li a {
    color: #4b3b1a;
    text-decoration: none;
    font-size: 1.1em;
    border: 1px solid #4b3b1a;
    padding: 4px 8px;
    display: block;
    transition: background-color 0.3s ease;
}

.toc-menu ul li a:hover {
    background-color: #4b3b1a;
    color: #fdf5e6;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: #4b3b1a;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    color: #4b3b1a;
    max-width: 800px;
    margin: 20px auto;
    text-align: justify;
}

.img-wrapper {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

img {
    display: block;
    margin: 20px;
    width: 256px;
    border: 2px solid #4b3b1a;
}

i {
    font-size: 0.9em;
    color: #666;
}

a {
    color: #4b3b1a;
    text-decoration: none;
    border: 1px solid #4b3b1a;
    width: fit-content;
    padding-left: 4px;
    padding-right: 4px;
}

a:hover {
    background-color: #4b3b1a;
    color: #fdf5e6;
}

@media (max-width: 800px) {
    body {
        padding: 10px;
    }
    
    h1 {
        font-size: 2em;
    }
    
    p {
        font-size: 1em;
    }

    .info-box {
        padding: 15px;
    }
    
    .info-box h3 {
        font-size: 1.8em;
    }
    
    .info-box p {
        font-size: 1em;
    }

    .toc-menu {
        position: static;
        width: 100%;
        margin-bottom: 20px;
    }

    .toc-menu ul li a {
        font-size: 1em;
    }
}
